//===========================================================

// Minovate - sections/parallax.scss

//===========================================================


//======== parallax-box ==========

.parallax-box {
  padding: 80px 0;
  margin: 60px 0;
  position: relative;
}

.parallax-1 {
  background: url(../images/parallax/parallax-1.jpg) 0% -150px;
}